{% extends '_base.html' %}
{% block title %}Добавить работы{% endblock title %}


{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Выводим каждое поле формы в отдельном параграфе -->
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Добавить</button>
</form>

<!-- Выводим уже созданные записи -->
{% for b in books %}
<p>{{ b.title }}</p>
<img src="{{ b.cover.url }}" width="200px">
<!-- Выводим размер картинки -->
<p>Оригинальный размер картинки  {{ b.cover.width }}x{{ b.cover.height }}</p>
<br/>
<a href="{{ b.cover.url }}">{{ b.title }}</a>
{% endfor %}

{% endblock content %}

