{% extends '_base.html' %}
{% block title %}Добавить работы{% endblock title %}


{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Выводим каждое поле формы в отдельном параграфе -->
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Добавить</button>
</form>

<!-- Выводим уже созданные записи -->


{% for book in books %}
<h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
{% if book.cover %}
<img src="{{ book.cover.url }}" width="200px"> -->

<!-- Выводим размер картинки -->
<p>Оригинальный размер картинки  {{ book.cover.width }}x{{ book.cover.height }}</p>
<br/>
{% endif %}
<p>Author: {{ book.author }}</p>
<p>Price: $ {{ book.price }}</p>
<p>______________________________________</p>
{% endfor %}

{% endblock content %}

